body{
background: #196dff;
text-align: center;
}
#main{
	width: 1000px;
	height: 600px;
	background: #196dff;
}
h1{
	width: 1000px;
	height: 600px;
	background: #196dff;
	font-family: "Times New Roman"
}
p{
	width: 1000px;
	height: 600px;
	background: #196dff;
	font-family: "Times New Roman"
}
	